<div class="container-fluid py-5">
  <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
          <h1>Categories of Courses</h1>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let category of categories">
              <div class="cat-item position-relative overflow-hidden rounded mb-2" style="height: 100%;">
                  <!-- Remove href and use click handler -->
                  <img class="img-fluid" 
                       [src]="'http://localhost:8080/api/images/' + category.image" 
                       alt="" 
                       style="object-fit: cover; cursor: pointer;" 
                       (click)="navigateToCourses(category.id)">
                  
                  <!-- Changed anchor to div to prevent default link behavior -->
                  <div class="cat-overlay text-white text-decoration-none" 
                       (click)="navigateToCourses(category.id)">
                      <h4 class="text-white font-weight-medium">{{category.name}}</h4>
                      <span>{{category.categCode}}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>